<% @title = "アカウント情報" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "アカウント情報編集", :edit_staff_account %> |
    <%= link_to "パスワード変更", :edit_staff_password %>
  </div>

  <table class="attributes">
    <tr>
      <th>氏名</th>
      <td>
        <%= @staff_member.family_name %>
        <%= @staff_member.given_name %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>
        <%= @staff_member.family_name_kana %>
        <%= @staff_member.given_name_kana %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="email">
        <%= @staff_member.email %>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td class="password">*********</td>
    </tr>
    <tr>
      <th>入社日</th>
      <td class="date">
        <%= @staff_member.start_date.strftime("%Y%m%d") %>
      </td>
    </tr>
  </table>
</div>
