<%
if @staff_member
full_name = @staff_member.family_name + @staff_member.given_name
@title = "#{full_name}さんのログイン・ログアウト記録"
else
@title = "職員のログイン・ログアウト記録"
end
%>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "職員一覧", :admin_staff_members %>
  </div>

  <%= paginate @events %>

  <table class="listing">
    <tr>
      <%  unless @staff_member %><th>氏名</th><% end %>
      <th>種別</th>
      <th>日時</th>
    </tr>
    <% @events.each do |event| %>
     <%= StaffEventPresenter.new(event, self).table_row %>
    <% end %>
    <% if @events.empty? %>
    <tr>
      <%= content_tag(:td, "記録がありません",
      colspan: @staff_member ? 2 : 3, style: "text-align: center") %>
    </tr>
    <% end %>
  </table>

  <%= paginate @events %>

  <div class="links">
    <%= link_to "職員一覧", :admin_staff_members %>
  </div>
</div>
