<% @title = "職員のアカウントの編集" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @staff_member, url: [ :admin, @staff_member ] do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", :admin_staff_members %>
    </div>
  <% end %>
</div>
