<div id="error">
  <h1>403 Forbidden</h1>
  <p>
    <%=
      case @exception
      when ApplicationController::IpAddressRejected
        "あなたのIPアドレス (#{request.ip}) からは利用出来ません。"
      else
        "指定されたページを閲覧することが出来ません。"
      end
    %>
  </p>
</div>
