@import "colors";
@import "dimensions";

div#wrapper {
  div#container {
    div#generic-form {
      width: 480px;
      margin: $wide * 2 auto;
      padding: $wide * 2;
      border-radius: $wide;
      border: solid 4px $dark_cyan;
      background-color: $very_light_gray;

      form {
        div {
          padding: $wide;
          label {
            display: block;
            padding: $moderate 0;
          }
          label.required:after {
            content: "*";
            padding-left: $narrow;
            color: $red;
          }
        }
        div.input-block {
          input { margin-right: $narrow * 2; }
        }
        div.notes {
          text-align: right;
          font-size: $small;
          span.mark { color: $red; }
        }
        div.check_boxes, div.radio-buttons {
          label {
            display: inline-block;
          }
        }
        div.buttons {
          text-align: center;
          input[type="submit"] {
            padding: $wide $wide * 2;
          }
        }
        div.field_with_errors {
          display: inline;
          padding: 0;
          label { color: $red; }
          input { background-color: $pink; }
        }
        div.error-message {
          color: $red;
          font-size: $small;
          padding: 0 $very-wide;
        }
      }
    }
  }
}
